<div *ngIf="!isLoaded" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="isLoaded" class="container">
  <mat-form-field appearance="fill">
    <mat-label>Filter elements</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="Provide text">
  </mat-form-field>
  <div>
    <table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Number</th>
        <td mat-cell class="clickable" *matCellDef="let element" (dblclick)="openDialog(element, 'position')">
          {{ element.position }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell class="clickable" *matCellDef="let element" (dblclick)="openDialog(element, 'name')">
          {{ element.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight</th>
        <td mat-cell class="clickable" *matCellDef="let element" (dblclick)="openDialog(element, 'weight')">
          {{ element.weight }}
        </td>
      </ng-container>
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol</th>
        <td mat-cell class="clickable" *matCellDef="let element" (dblclick)="openDialog(element, 'symbol')">
          {{ element.symbol }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

